.base {
  @apply w-80;

  &:hover {
    .icon {
      @apply opacity-100;
    }
  }
}

.imageContainer {
  @apply relative h-0 w-full overflow-hidden;
  // 16:9 aspect ratio
  padding: 28.125% 0;
}

.image {
  @apply absolute inset-0 w-full rounded;
}

.text {
  @apply max-w-xs text-center text-gray-300;
}

.icon {
  @apply absolute top-2 right-4 cursor-pointer opacity-0 transition-all;
}
